<div class="container">
	
	<form  (submit)="onSubmit()">
		<div class="form-group">
			<label>姓名</label>
			<input type="text" class="form-control" [(ngModel)]="user.name" name="name">
		</div>

		<div class="form-group">
			<label>邮箱</label>
			<input type="text" class="form-control" [(ngModel)]="user.email" name="email">
		</div>

		<div class="form-group">
			<label>电话</label>
			<input type="text" class="form-control" [(ngModel)]="user.phone" name="phone">
		</div>

		<input type="submit" class="btn btn-success" value="提交">
	</form>

	<hr>

	<div *ngFor="let user of users">
		<div class="well">
			<ul class="list-group">
				<li class="list-group-item">姓名: {{user.name}}</li>
				<li class="list-group-item">邮箱:{{user.email}}</li>
				<li class="list-group-item">电话: {{user.phone}}</li>
			</ul>

			<button (click)="onEditClick(user)" class="btn btn-danger">编辑</button>
			<button (click)="onDeleteClick(user.id)" class="btn btn-danger">删除</button>

			<a class="btn btn-primary pull-right" [(routerLink)]="'/user/'+user.id">详情</a>
		</div>
	</div>
</div>
